@import url('https://fonts.googleapis.com/css?family=Montserrat|Vollkorn');
/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Montserrat','Helvetica', sans-serif;
}
html, body{
    background-color: #62FFBB;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Vollkorn','Times-New-Roman', serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Vollkorn','Times-New-Roman', serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #587F6E;
    color: #62FFBB;
}
header{
    border-bottom: 0.8rem solid #AFFFDC;
    background-color: #317F5E;
    color: #AFFFDC;
}
/******Change fonts, colors, etc. in CSS above******/
/*monochromatic color scheme - make it look nice*/


/***********HORIZONTAL MENU*********************/
.menu-h{
    width: 100%;
}
    .menu-h li{
        list-style: none;
        float: left;
        width: 20%;
        text-align: center;
        border: 2px solid #62FFBB;
        border-top-color: transparent;
    
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }

        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            
            display: block;
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
            color: #4FCC96;
            text-decoration:none;
            cursor:pointer;
        }

        .menu-h a:hover,
        .menu-h a:active{
           
            color: #62FFBB;
            text-decoration: underline;
            text-decoration-style: dotted;
            
        }                  
                  
                  
/*************VERTICAL MENU***********************/
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
        list-style: none;
        width:100%;
        
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }

        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            text-decoration:none;
            cursor:pointer;
            padding-left: 20px;
            padding-top: 10px;
            border: 1px solid transparent;
            text-align: center;
            color: #AFFFDC;
            /* style the anchors to fill the entire width of the li */
        }

        .menu-v a:hover,
        .menu-v a:active{
            text-decoration: underline;
            font-variant: small-caps;
        
            
        }

/*************************************************/
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}